.form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 100vh;
  width: 100%;
  margin: auto;

  @include tablet {
    height: auto;
    align-items: center;
  }

  @include desktop {
    width: auto;
    justify-content: center;
    align-items: flex-start;
  }

  &__claim {
    margin-bottom: 20px;

    span {
      color: $secondary-color;
    }
    @include tablet {
      display: none;
    }
  }

  &__submitBtn {
    height: 50px;
    background-color: $main-btn-color;
    color: $light-color;
    font-weight: 800;
    width: 90%;
    border: none;
    border-radius: 6px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;

    @include tablet {
      width: 400px;
    }

    @include desktop {
      width: 100px;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__link {
    color: $secondary-color;
    text-decoration: underline;
    font-size: 16px;
    margin-bottom: 30px;

    @include tablet {
      display: none;
    }
  }

  &__decoration {
    display: none;

    @include desktop {
      display: block;
      position: absolute;
      top: 0;
      left: 50;
      height: 300px;
      width: 300px;
      background-color: $secondary-color;
      border-radius: 40px;
      transform: rotate(45deg) translate(-30%, -60%);
      animation: form-decoration-animation 3s;
    }
  }
}

@keyframes form-decoration-animation {
  0% {
    transform: rotate(75deg) translate(-100%, -60%);
  }
  100% {
    transform: rotate(45deg) translate(-30%, -60%);
  }
}
