.form {
  display: flex;
  flex-direction: column;
  padding: rem(40);
  height: 100vh;
  width: 100%;
  margin: auto;

  @include tablet {
    height: auto;
    align-items: center;
  }

  @include desktop {
    width: auto;
    justify-content: center;
    align-items: flex-start;
  }

  &__claim {
    margin-bottom: rem(20);

    span {
      color: $secondary-color;
    }
    @include tablet {
      display: none;
    }
  }

  &__submitBtn {
    height: rem(50);
    background-color: $main-btn-color;
    color: $light-color;
    font-weight: 800;
    width: 90%;
    border: none;
    border-radius: rem(6);
    margin-bottom: rem(30);
    cursor: pointer;
    outline: none;

    @include tablet {
      width: rem(400);
    }

    @include desktop {
      width: rem(100);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__link {
    color: $secondary-color;
    text-decoration: underline;
    font-size: $font-regular;
    margin-bottom: rem(30);

    @include tablet {
      display: none;
    }
  }

  &__submittedMessageContainer {
    height: rem(14);
  }

  &__submittedMessage {
    color: $primary-color;
    font-size: $font-small;
  }

  &__decoration {
    display: none;

    @include desktop {
      display: block;
      position: absolute;
      top: 0;
      left: 50;
      height: rem(300);
      width: rem(300);
      background-color: $secondary-color;
      border-radius: rem(40);
      transform: rotate(45deg) translate(-30%, -60%);
      animation: form-decoration-animation 3s;
    }
  }
}

@keyframes form-decoration-animation {
  0% {
    transform: rotate(75deg) translate(-100%, -60%);
  }
  100% {
    transform: rotate(45deg) translate(-30%, -60%);
  }
}
