.hero {
  @include flex-vertically-centered;
  width: 100%;
  background-color: $primary-color;
  height: 60px;
  position: relative;
  overflow: hidden;

  @include tablet {
    justify-content: column;
    height: 400px;
  }

  @include desktop {
    width: 60%;
    height: 100vh;
  }

  &__header {
    @include flex-vertically-centered;
    position: fixed;
    top: 0;
    height: 60px;
    padding-left: 24px;
  }

  &__claim {
    display: none;
    color: $light-color;

    span {
      color: $secondary-color;
    }

    @include tablet {
      @include flex-horizontally-centered;
      width: 100%;
    }
  }

  &__link {
    color: $secondary-color;
    text-decoration: underline;
    font-size: 18px;
  }

  &__div {
    position: absolute;
    bottom: 0;
    left: 50;
    height: 280px;
    width: 400px;
    background-color: $secondary-color;
    border-radius: 40px;
    transform: rotate(30deg) translate(30%, 50%);
  }
}
