.hero {
  @include flex-vertically-centered;
  width: 100%;
  background-color: $primary-color;
  height: rem(60);
  position: relative;
  overflow: hidden;

  @include tablet {
    justify-content: column;
    height: rem(400);
  }

  @include desktop {
    width: 60%;
    height: 100vh;
  }

  &__header {
    @include flex-vertically-centered;
    position: absolute;
    top: 0;
    height: rem(60);
    padding-left: rem(24);
  }

  &__claim {
    display: none;
    color: $light-color;

    span {
      color: $secondary-color;
    }

    @include tablet {
      @include flex-horizontally-centered;
      width: 100%;
    }
  }

  &__link {
    color: $secondary-color;
    text-decoration: underline;
    font-size: $font-medium;
  }

  &__decoration {
    position: absolute;
    bottom: 0;
    left: 50;
    height: rem(280);
    width: rem(400);
    background-color: $secondary-color;
    border-radius: rem(40);
    transform: rotate(30deg) translate(30%, 50%);
    animation: hero-decoration-animation 3s;
  }
}

@keyframes hero-decoration-animation {
  0% {
    transform: rotate(80deg) translate(80%, 100%);
  }
  100% {
    transform: rotate(30deg) translate(30%, 50%);
  }
}
