.submissions {
  position: relative;
  height: 100vh;
  width: 100%;

  &__hero {
    @include flex-vertically-centered;
    height: rem(60);
    width: 100%;
    padding-left: rem(18);
    background-color: $primary-color;
    margin-bottom: rem(30);
  }

  &__container {
    height: 60%;
    width: 80%;
    margin: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    list-style-type: none;
    border-radius: rem(8);

    @include tablet {
      align-items: center;
    }
  }

  &__title {
    color: $primary-color;
    text-align: center;
  }

  &__listElement {
    margin: rem(20);
  }

  &__listElementTitle {
    margin-bottom: rem(10);

    span {
      color: $secondary-color;
    }
  }

  &__btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: rem(10);
    $font-small: rem(14);
    font-weight: 800;
    border: none;
    background-color: $secondary-color;
    color: $light-color;
    border-radius: rem(8);
    cursor: pointer;

    @include tablet {
      font-size: $font-regular;
      padding: rem(20);
    }
  }
}

.error {
  @include flex-centered;
  height: 100vh;
  width: 100%;
  background-color: $primary-color;
  padding: rem(40);
  text-align: center;

  &__img {
    height: rem(40);
    margin-bottom: rem(30);
  }

  &__message {
    color: $light-color;
    font-size: $font-medium;

    span {
      color: $secondary-color;
    }
  }
}
