//COLORS
$primary-color: #59b4a6;
$secondary-color: #efbd40;
$dark-color: #000000;
$light-color: #ffffff;
$main-btn-color: #02cd55;

//FONTS
$main-font: 'Open Sans', sans-serif;

//MEDIAQUERIES
$tablet: 768px;
$desktop: 1024px;

//FONT SIZE
$font-regular: 16;
$font-small: rem(14);
$font-medium: rem(18);
